# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
lib/
lib64/
bin/
pyvenv.cfg

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs / debug
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

